@charset "UTF-8";

@font-face {
    font-family: 'holidays';
    src: url(fontes/Holidays\ Homework.ttf) format('truetype') ;
}

@font-face {
    font-family: 'ugly';
    src: url(fontes/MyUglyHandwriting-Regular.otf) format('opentype');
}

body{
    background-color: rgb(63, 38, 10);
}

header{
    font-family: 'holidays', serif;
    background-color: green;
    margin: -9px;
    padding: 20px;
    max-width: 2560px;
    min-width: 320px;
    text-align: center;
}

main{
    margin: auto;
    margin-top: 9px;
    padding: 20px;
    background-color: aliceblue;
    min-width: 280px;
    max-width: 815px;
}

main h1{
    font-family: 'holidays', serif;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

main p{
    color: black;
    font-family: 'ugly', serif;
    font-weight: bold;
    font-size: 1.4em;
    text-align: justify;
}

main picture{
    display: block;
    text-align: center;
    margin: 20px;
}

section{
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 20px;
    background-color: green;
    min-width: 280px;
    max-width: 815px;
}

section h1{
    margin-top: -5px;
    font-family: 'holidays', serif;
}

section h2{
    font-family: 'holidays', serif;
    font-size: 0.8em;
}

aside{
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

aside .inscricao{
    padding: 10px;
}

aside input{
    border-radius: 5px;
    padding: 5px;
}

aside input::placeholder{
    
}

